useDynLib(phangorn, .registration=TRUE)

importFrom(graphics, plot)

export(pml, optim.pml, parsimony, optim.parsimony, NJ, UNJ, PNJ, 
    phyDat, dfactorial, ldfactorial, hadamard, nni, allSitePattern,
    fhm, distanceHadamard, treedist, sankoff, fitch, h2st, h4st,
    dist.logDet, dist.hamming, dist.ml, upgma, write.nexus.splits, 
    pmlPart, pmlCluster, pmlMix, read.aa, allTrees,
    designTree, designSplits, getEdgeLength) 

           
S3method(as.character, phyDat)
S3method(as.data.frame, phyDat)
S3method(c, phyDat)
S3method(as.phylo, phyloNode)
S3method(as.phyloNode, phylo)
S3method(as.phyDat, DNAbin)
S3method(logLik, pml)
S3method(plot, pml)
S3method(print, phyDat)
S3method(print, pml)
S3method(print, pmlMix)
S3method(print, pmlPart)
S3method(print, treedist)
S3method(update, pml)
S3method(vcov, pml)



